body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#app {
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
}
